body {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
  color: #222 !important;
  background-color: #fff;
}

a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #1abc9c !important;
}

.block-title {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 2.25em;
  line-height: 54px;
}

.block-subtitle {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 1em;
  line-height: 32px;
  color: #818181;
}

.header {
  padding-top: 60px;
  height: 100vh;
  color: #fff;
  background-image: url("../img/header-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
}

.header .container {
  position: relative;
}

.header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 1.13em;
  position: relative;
  overflow-x: hidden;
  z-index: 10;
}

.header .header__nav .header__logo {
  cursor: pointer;
}

.header .header__nav .header__logo svg {
  width: 75px;
  height: 35px;
}

.header .header__nav .header__search {
  cursor: pointer;
}

.header .header__nav .header__search svg {
  width: 25px;
  height: 25px;
}

.header .header__content {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  z-index: 0;
}

.header .header__content .header__content_active {
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}

.header .header__content .header__content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__content .header__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 2.25em;
  line-height: 54px;
}

.header .header__content .header__subtitle {
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 1.13em;
  line-height: 27px;
  text-align: center;
  color: #969696;
}

.header .header__content .header__btn {
  border-radius: 30px;
  width: 200px;
  height: 50px;
  font-weight: 600;
  font-size: 1.13em;
  line-height: 27px;
  background: #2e4dec;
}

.header a:hover {
  color: #1abc9c;
}

.header__burger__btn {
  position: relative;
  width: 50px;
  height: 50px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border-radius: 50%;
}

.header__burger__btn span,
.header__burger__btn span::before,
.header__burger__btn span::after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: black;
}

.header__burger__btn.color-inverted {
  background-color: black;
}

.header__burger__btn.color-inverted span,
.header__burger__btn.color-inverted span::before,
.header__burger__btn.color-inverted span::after {
  background-color: white;
}

.header__burger__btn span::before,
.header__burger__btn span::after {
  content: '';
  display: block;
}

.header__burger__btn span::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.header__burger__btn span::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.header__burger__btn.active span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__burger__btn.active span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__burger__btn.active span {
  height: 0;
}

.adv {
  margin: 30px;
}

@media (min-width: 1400px) {
  .adv .container-xxl {
    max-width: 1380px;
  }
}

.adv .adv__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.adv .adv__items .adv__item-wrap.first {
  background-image: url("../img/adv-bg1.jpg");
}

.adv .adv__items .adv__item-wrap.first .adv__item-subtitle {
  color: #22222280;
}

.adv .adv__items .adv__item-wrap.second {
  color: #fff;
  background-image: url("../img/adv-bg2.jpg");
}

.adv .adv__items .adv__item-wrap.second .adv__item-subtitle {
  color: #ffffff80;
}

.adv .adv__items .adv__item-wrap {
  display: inline-block;
  position: relative;
  width: calc(50% - 15px);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f7f8fa;
}

.adv .adv__items .adv__item-wrap .empty {
  margin-top: 100%;
}

.adv .adv__items .adv__item-wrap .adv__item {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 120px 60px 0;
  text-align: center;
}

.adv .adv__items .adv__item-wrap .adv__item-title {
  font-weight: 600;
  font-size: 3em;
  line-height: 72px;
  margin-bottom: 10px;
}

.adv .adv__items .adv__item-wrap .adv__item-subtitle {
  font-weight: 300;
  line-height: 43px;
  font-size: 1.75em;
}

.adv .adv__items .adv__item-wrap .adv__item-subtitle .darker {
  color: #222;
}

.adv .adv__items .adv__item-wrap .adv__item-subtitle .lighter {
  color: #fff;
}

.spec {
  margin-bottom: 50px;
  padding: 86px 0;
  background-color: #f7f8fa;
}

.spec .spec__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spec .spec__wrap img {
  width: 345px;
  margin-right: 80px;
}

.spec .spec__wrap .spec__text .spec__title {
  font-weight: 600;
  font-size: 3em;
  line-height: 72px;
}

.spec .spec__wrap .spec__text .spec__subtitle {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 40px;
}

.spec .spec__wrap .spec__text .spec__spec-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 60px);
}

.spec .spec__wrap .spec__text .spec__spec-item {
  text-align: center;
}

.spec .spec__wrap .spec__text .spec__spec-title {
  font-weight: 600;
  font-size: 2.25em;
  line-height: 54px;
}

.spec .spec__wrap .spec__text .spec__spec-subtitle {
  font-weight: 300;
  font-size: 1.25em;
  line-height: 27px;
  color: #222222bf;
}

.goods {
  margin-bottom: 100px;
}

.goods .swiper {
  margin-bottom: 100px;
  width: 100%;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.goods .swiper .swiper-wrapper .swiper-slide {
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 45px;
  width: 500px;
  height: auto;
  text-align: center;
}

.goods .swiper .swiper-wrapper .swiper-slide img {
  margin-bottom: 30px;
  border-radius: 10px;
  width: 410px;
  background: #606060;
}

.goods .swiper .swiper-wrapper .swiper-slide .swiper-slide__title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 2.25em;
  line-height: 54px;
}

.goods .swiper .swiper-wrapper .swiper-slide .swiper-slide__subtitle {
  font-weight: 300;
  font-size: 1.25em;
  line-height: 36px;
  margin-bottom: 30px;
}

.goods .swiper .swiper-wrapper .swiper-slide .swiper-slide__subtitle.mb-big {
  margin-bottom: 66px;
}

.goods .swiper .swiper-wrapper .swiper-slide .swiper-slide__btn {
  width: 200px;
  height: 50px;
  padding: 11px 58px;
  color: white;
  background: #2E4DEC;
  border-radius: 30px;
  margin: 0 auto;
}

.goods .swiper .swiper-wrapper .swiper-slide:not(:last-child) {
  margin-right: 50px;
}

.feedback {
  margin-bottom: 100px;
}

.feedback .feedback__title {
  margin-bottom: 80px;
  font-weight: 600;
  font-size: 4em;
  line-height: 104px;
}

.feedback .feedback__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback .feedback__items .feedback__item {
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  padding: 30px;
}

.feedback .feedback__items .feedback__item .feedback__item-text {
  font-weight: 300;
  font-size: 1em;
  line-height: 30px;
  margin-bottom: 30px;
}

.feedback .feedback__items .feedback__item .feedback__item-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback .feedback__items .feedback__item .feedback__item-profile img {
  margin-right: 30px;
  border-radius: 70px;
  width: 70px;
}

.feedback .feedback__items .feedback__item .feedback__item-profile .feedback__item-name {
  font-weight: 600;
  font-size: 1.25em;
  line-height: 30px;
}

.feedback .feedback__items .feedback__item .feedback__item-profile .feedback__item-post {
  font-weight: 300;
  font-size: 1.13em;
  line-height: 27px;
}

.feedback .feedback__items .feedback__item:not(:last-child) {
  margin-right: 50px;
}

.footer {
  background-color: #000;
  padding: 100px 0;
  color: #fff;
}

.footer .footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.footer .footer__items .footer__item .footer__logo {
  cursor: pointer;
  margin-bottom: 18px;
}

.footer .footer__items .footer__item .footer__logo a {
  font-weight: 600;
  font-size: 1.63em;
  line-height: 39px;
}

.footer .footer__items .footer__item .footer__logo a:hover svg {
  fill: #1abc9c;
}

.footer .footer__items .footer__item .footer__logo svg {
  width: 68px;
  height: 32px;
  margin-right: 20px;
}

.footer .footer__items .footer__item .footer__logo-subtitle {
  font-weight: 300;
  font-size: 1.13em;
  line-height: 27px;
}

.footer .footer__items .footer__item .footer__list-title {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 1.13em;
  line-height: 27px;
}

.footer .footer__items .footer__item .footer__list {
  padding: 0;
  list-style: none;
}

.footer .footer__items .footer__item .footer__list-item {
  margin-bottom: 15px;
  margin-left: 0;
  font-weight: 300;
  font-size: 1.13em;
  line-height: 27px;
}

.footer .footer__items .footer__item:not(:last-child) {
  margin-right: 100px;
}

.mobile-menu {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1000;
}

.mobile-menu.active {
  display: block;
}

@media screen and (min-width: 780px) {
  .mobile-menu {
    display: none !important;
  }
}

.mobile-menu .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 1.13em;
  position: relative;
  overflow-x: hidden;
}

.mobile-menu .header__nav .header__logo {
  cursor: pointer;
  background-color: #000;
  padding: 10px;
}

.mobile-menu .header__nav .header__logo svg {
  width: 75px;
  height: 35px;
}

.mobile-menu .burger__menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50%;
}
/*# sourceMappingURL=style.css.map */